.icon-48-emails {
      background-image: url(../images/l_emails.png);
      padding-left:60px!important;
}

.icon-48-email {
      background-image: url(../images/l_emails.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}